name: CI de PostgreSQL y Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: defaultdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 5s
          --health-retries 10

    steps:
      - uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Instalar Dependencias
        run: pip install -r requirements.txt
        
      - name: Esperar Conexión de PostgreSQL
        # Este comando detiene la ejecución hasta que el servidor responde correctamente.
        run: while ! pg_isready -h localhost -p 5432 -U postgres; do sleep 1; done

      - name: Crear la Base de Datos 'exercises'
        run: createdb -h localhost -U postgres exercises

      - name: Crear Estructuras de la BD
        # NOTA: Usamos 01_create_schema.sql, si tu archivo se llama 01_create_tables.sql, cámbialo aquí.
        run: PGPASSWORD=postgres psql -h localhost -U postgres -d exercises -f 01_create_schema.sql

      - name: Insertar Datos Iniciales
        run: PGPASSWORD=postgres psql -h localhost -U postgres -d exercises -f 02_insert_data.sql

      - name: Ejecutar Soluciones (Funciones, Procs, Triggers)
        run: PGPASSWORD=postgres psql -h localhost -U postgres -d exercises -f soluciones_db.sql

      - name: Ejecutar Pruebas (pytest)
        run: pytest
        env:
          DB_HOST: localhost
          DB_USER: postgres
          DB_PASSWORD: postgres
          DB_NAME: exercises
