name: CI de PostgreSQL y Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: defaultdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Instalar Dependencias
        run: pip install -r requirements.txt

      - name: Crear la Base de Datos 'exercises'
        run: |
          createdb -h localhost -U postgres exercises
          psql -h localhost -U postgres -d exercises -c "CREATE EXTENSION IF NOT EXISTS plpgsql;"

      - name: Crear Estructuras de la BD
        run: PGPASSWORD=postgres psql -h localhost -U postgres -d exercises -f 01_create_tables.sql

      - name: Insertar Datos Iniciales
        run: PGPASSWORD=postgres psql -h localhost -U postgres -d exercises -f 02_insert_data.sql

      - name: Ejecutar Pruebas (pytest)
        run: pytest tests/ -v
        env:
          DB_HOST: localhost
          DB_USER: postgres
          DB_PASSWORD: postgres
          DB_NAME: exercises
