name: PostgreSQL Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-postgresql:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install PostgreSQL client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Wait for PostgreSQL to be ready
        run: |
          for i in {1..10}; do
            pg_isready -h localhost -p 5432 -U postgres && break
            echo "Waiting for PostgreSQL..."
            sleep 2
          done

      - name: Run SQL scripts in order
        run: |
          echo "Ejecutando scripts..."
          
          for file in tests/*.sql; do
            echo "Ejecutando $file"
            psql postgresql://postgres:postgres@localhost:5432/testdb -f "$file"
          done

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: postgres-logs
          path: /home/runner/.psql_history
