name: Run PostgreSQL Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'  # Es recomendable usar una versión más estable

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Wait for PostgreSQL to start
      run: |
        echo "Waiting for PostgreSQL to start..."
        sleep 15  # Proporcionamos un poco más de tiempo para la inicialización de PostgreSQL

    - name: Set up database schema and data
      run: |
        echo "Setting up database schema and inserting initial data..."
        PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ./01_create_tables.sql

    - name: Insert data
      run: |
        echo "Inserting sample data into database..."
        PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ./02_insert_data.sql        

    - name: Query data to verify
      run: |
        echo "Retrieving data from the database to verify..."
        PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ./03_retrieve_everything_from_a_table.sql
        
    - name: Run tests
      run: |
        echo "Running tests..."
        pytest --maxfail=1 --disable-warnings -q  # Añadí algunas configuraciones útiles para pytest

